/*==========================================================================*/
/*                        M O B I L E    D E V I C E                        */
/*==========================================================================*/

@media screen and (min-width: 1px) and (max-width: 750px) {
    .image-l,
    .image-r {
        float: none;
        text-align: center;
        margin: 0 0 15px;
    }

    section {
        margin-bottom: 40px;
    }

    // ======================== table ========================
    .tbl-bg {
        padding: 50px 0;
    }
    .under-tbl {
        th,
        td {
            border-bottom-width: 10px;
            padding: 12px;
        }

        th {
            font-size: 16px;
        }
    }

    .tbl-block {
        display: block;
        thead,
        tbody,
        tr,
        td,
        th {
            display: block;
            width: 100%;
        }

        th {
            border-bottom: none;
        }
    }

    .tbl-note {
        font-size: 12px;
        opacity: 0.6;
    }

    .tbl-scroll {
        overflow: auto;
        table {
            min-width: 749px;
        }
    }

    .under-visual {
        min-height: 170px;
        &:before {
            width: 100%;
        }
        .umvs-title {
            font-size: 24px;
            padding: 0;
        }
    }

    #topic-path {
        li {
            &::after {
                margin: 0 10px 1px;
                width: 8px;
                height: 8px;
            }
            &:first-child {
                font-size: 14px;
            }
        }
    }

    // ======================== under style ========================
    .ulist {
        &.ucheck1 {
            li {
                &::before {
                    width: 14px;
                    height: 14px;
                    top: 5px;
                }
            }
        }

        &.ucheck2 {
            li {
                &::before {
                    width: 16px;
                    height: 16px;
                    top: 4px;
                }
            }
        }
        li {
            font-size: 14px;
            padding-left: 24px;
            margin-bottom: 7px;
            &::before {
                width: 6px;
                height: 6px;
                top: 9px;
            }
        }
    }

    .udr-anc {
        flex-direction: column;
        align-items: center;
        gap: 0;
        li {
            margin-bottom: 15px;
            width: 300px;
            &:last-child {
                margin-bottom: 0;
            }
        }

        a {
            font-size: 14px;
            min-height: 56px;
            padding: 10px 24px;
            &::before {
                width: 7px;
                height: 7px;
                right: 12px;
            }
        }
    }

    .uframe {
        padding: 15px;
    }

    .ubanner {
        margin-right: 13px;
        a {
            width: 370px;
            padding: 10px 24px;
            min-height: 80px;
            font-size: 18px;
            &::before {
                width: 36px;
                height: 36px;
                right: -13px;
            }
            &::after {
                right: 2px;
                bottom: 0;
                width: 8px;
                height: 8px;
            }
        }
    }

    .ustep {
        dl {
            margin-bottom: 40px;
        }

        dt {
        }

        dd {
            margin-left: 20px;
            padding: 13px;
            &::before {
                left: -50px;
                width: 50px;
            }
            &::after {
                border-left-width: 20px;
                border-right-width: 20px;
                border-top-width: 14px;
                bottom: -27px;
            }
        }

        .ustep-num {
            width: 50px;
            height: 50px;
            font-size: 18px;
        }

        .ustep-tt {
            font-size: 18px;
        }
    }

    .qa-list {
        dl {
            margin-bottom: 30px;
        }

        dt {
            padding: 12px 15px;
        }

        dd {
            padding: 12px 15px;
        }

        .qa-q,
        .qa-a {
            font-size: 20px;
            margin-right: 15px;
        }

        .qa-q {
            padding-top: 1px;
        }
        .qa-a {
        }

        .qa-tt {
            font-size: 20px;
        }
    }

    .uimg-col2 {
        .uimg {
            --mr-uimg: 15px;
        }
    }

    .umap {
        iframe {
            height: 250px;
        }
    }

    .ucontact-box {
        padding: 30px 20px;
        width: 400px;
        &::before {
            inset: 7px;
            border-width: 3px;
        }
        .ucontact-tt {
            font-size: 24px;
            margin-bottom: 5px;
        }

        .ucontact-time {
            span {
                margin-right: 0;
            }
        }
    }

    // ======================== content ========================
    .main-under {
        --mt-under: 30px;
        #content {
            padding: 0 15px 50px;
        }

        h3 {
            font-size: 23px;
            margin-bottom: 5px;
        }

        .h3-en {
            font-size: 14px;
        }

        h4 {
            font-size: 22px;
            padding: 5px 10px;
            margin-bottom: 15px;
        }

        h5 {
            font-size: 21px;
            padding-left: 15px;
            margin-bottom: 15px;
            &::before {
                top: 0px;
                bottom: 0px;
            }
        }

        h6 {
            font-size: 20px;
            padding-bottom: 7px;
            margin-bottom: 15px;
        }
    }

    .uh3 {
        padding: 30px 0 40px;
        .uwrap {
            display: block;
        }

        .uh3-tt {
            width: 100%;
            margin-bottom: 20px;
        }

        .uh3-desc {
            padding-left: 0;
        }
    }

    .uh5-list {
        padding: 50px 0;
        flex-direction: column;
        align-items: center;
        li {
            margin-bottom: 20px;
        }

        .image-c {
            margin-bottom: 15px;
        }

        h5 {
            padding-left: 0;
            margin-bottom: 5px;
        }

        p {
            font-size: 14px;
        }
    }
}

/* END min-width:1px && screen-max:750px */

@media screen and (min-width: 375px) and (max-width: 750px) {
    .sp320 {
        display: none;
    }
}

/* END min-width:375px && screen-max:750px */

@media screen and (min-width: 425px) and (max-width: 750px) {
    .sp375 {
        display: none;
    }
}

/* END min-width:425px && screen-max:750px */

@media screen and (min-width: 525px) and (max-width: 750px) {
    .sp425 {
        display: none;
    }
}

/* END min-width:525px && screen-max:750px */

/*==========================================================================*/
/*                 F O R   S P E C I F I E D   B R O W S E R                */
/*==========================================================================*/

/* EDGE  */
@supports (-ms-ime-align: auto) {
}

/* FIREFOX */
@-moz-document url-prefix() {
}

/* Safari 10.1+ (which is the latest version of Safari at this time) */
@media not all and (min-resolution: 0.001dpcm) {
}
@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */
}

/*==========================================================================*/
/*                             E N D   A L L                                */
/*==========================================================================*/
